<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  
  <title>IP Address Tracker</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

</head>


<body>
  <div class="top-backgraund"></div>
  <h1 class="title">IP Address Tracker</h1>
  <div class="search-container">
    <input id="txt" type="text" placeholder="search IP"><button id="btn" type="submit"><i class="fas fa-chevron-right arrow"></i></button> 
  </div>
  <div id="mapid"></div>
  <div class="card">
    <div class="list">
      <span>IP ADDRESS</span>
      <h3><%= ip%></h3>
    </div>
    <div class="list">
      <span>LOCATION</span>
      <h3><%= location%></h3>
    </div>
    <div class="list">
      <span>TIMEZONE</span>
      <h3><%= timezone%></h3>
    </div>
    <div class="list">
      <span>ISP</span>
      <h3><%= isp%></h3>
    </div>

    <div id="lat" data-test = <%= lat%>></div>
    <div id="lng" data-test = <%= lng%>></div>
    <div id="validation" data-test=<%=validation%>></div>
    
  </div>
  
</body>
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<script>
  var validation = document.getElementById('validation').dataset.test;
  if(validation === "true"){
    alert("invalid IP");
  }
  var lat = document.getElementById('lat').dataset.test;
  var lng = document.getElementById('lng').dataset.test;
  var mymap = L.map('mapid').setView([lat, lng], 13);
  var marker = L.marker([lat, lng]).addTo(mymap);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoieW92ZWxoMjQ2IiwiYSI6ImNrbjdqM2JpdTAwb3UydnBkbjEwMml0YWYifQ.zetABU7KG2jLZRGF8PlhaA'
}).addTo(mymap);

var btn = document.getElementById("btn");
var text = document.getElementById("txt");
btn.addEventListener("click",()=>{
  window.location = "/"+text.value.toString();
})


</script>

</html>